<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>


<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" th:href="@{/blogs}" class="m-item item m-mobile-hide " th:classappend="${n==1} ? 'active'"><i
                    class="mini home icon"></i>首页</a>
            <a href="#" th:href="@{/blog/cat/-1}" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i
                    class="mini idea icon"></i>分类</a>
            <a href="#" th:href="@{/blog/tag(tagName='-1')}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i
                    class="mini tags icon"></i>标签</a>
            <a href="#" th:href="@{/templates/admin/blog}" class="m-item item m-mobile-hide"
               th:classappend="${n==6} ? 'active'"><i class="mini info icon"></i>管理</a>
            <a href="#" th:href="@{/blog/archives}" class="m-item item m-mobile-hide"
               th:classappend="${n==4} ? 'active'"><i class="mini clone icon"></i>归档</a>
            <a href="#" th:href="@{/blog/about}" class="m-item item m-mobile-hide"
               th:classappend="${n==5} ? 'active'"><i class="mini info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon inverted transparent input m-margin-tb-tiny">
                        <input type="text" name="query" placeholder="Search...." th:value="${query}">
                        <!--取到search按钮，点击后提交-->
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="http://pyyf.oss-cn-hangzhou.aliyuncs.com/community/img/wechat.jpg"
                             class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div id="newblog-container">
                    <div class="ui inverted link list" th:fragment="newblogList">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-text-thin"
                           th:each="blog : ${newblogs}" th:text="${blog.title}">用户故事（User Story）</a>

                        <!--/*-->
                        <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                        <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                        <!--*/-->
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin" th:text="#{index.email}">Email：robin_ge@foxmail.com</a>
                    <a href="#" class="item m-text-thin" th:text="#{index.qq}">QQ：1146816379</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini" th:text="#{index.blogDescription}">
                    这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2016 - <span
                th:text="${#dates.year(#dates.createNow())}">2017</span> Gepeng Designed by Gepeng</p>
    </div>

</footer>


<th:block th:fragment="daohang(n)">
    <div class="list-group category_div_middle" style="margin-top: -30px;width: 65px">
        <a th:href="@{/blogs}"
           class="list-group-item " th:classappend="${n==0} ? 'active'" style="padding-left:0;padding-right:0;text-align:center">
            <span class="blogsListAni animated">博客</span>
        </a>

        <a href="#" onclick="manager()"
           class="list-group-item" th:classappend="${n==6} ? 'active'" style="padding-left:0;padding-right:0;text-align:center">
            <span class="blogsListAni animated">管理</span>
        </a>

        <a href="#" onclick="postBlog()"
           class="list-group-item" th:classappend="${n==1} ? 'active'" style="padding-left:0;padding-right:0;text-align:center">
            <span class="blogsListAni animated">发布</span>
        </a>

        <a th:href="@{/blog/cat/-1}"
           class="list-group-item" th:classappend="${n==2} ? 'active'" style="padding-left:0;padding-right:0;text-align:center">
            <span class="blogsListAni animated">分类</span>
        </a>

        <a th:href="@{/blog/tag/-1}"
           class="list-group-item" th:classappend="${n==3} ? 'active'" style="padding-left:0;padding-right:0;text-align:center">
            <span class="blogsListAni animated">标签</span>
        </a>

        <a th:href="@{/blog/archives}"
           class="list-group-item" th:classappend="${n==4} ? 'active'" style="padding-left:0;padding-right:0;text-align:center">
            <span class="blogsListAni animated">归档</span>
        </a>
    </div>
</th:block>


<th:block th:fragment="script">

    <th:block th:replace="forum-fragments :: script">
    </th:block>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.8/lib/Semantic-UI-2.2.4/dist/semantic.min.js"
            crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.8/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js"
            crossorigin="anonymous" type="text/javascript"></script>
    <script>
        function postBlog() {
            if($('#hasLogin').text()=="0")
                document.getElementById('loginButton').click();
            else
                window.location.href="/admin/blog/blog";
        }
        function manager() {
            if($('#hasLogin').text()=="0")
                document.getElementById('loginButton').click();
            else
                window.location.href="/admin/blog";
        }
    </script>

</th:block>

</body>
</html>