<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="community-fragments :: css">
    </th:block>
    <title>分类</title>
</head>
<body>

<div class="nk-container">
<header class="bg-dark sticky-top" style="z-index: 4!important;">
        <th:block th:replace="community-fragments::header(3)"></th:block>

</header>


<!--中间内容-->
<div class="m-container-small m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="fifteen wide column">
                <div class="ui top attached segment">
                    <!--两列占满一行-->
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">分类</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin"
                                  th:text="${#lists.size(cats)}">
                            14 </h2> 个
                        </div>
                    </div>
                </div>

                <div class="ui attached segment m-padded-tb-large">
                    <!--labeled button 是组合按钮，表示其中的内容既有label,又有button，而这个div将label和button当做一个整体-->
                    <div class="ui labeled button m-margin-tb-tiny" th:each="cat : ${cats}">
                        <a href="#" th:href="@{/blog/cat/{id}(id=${cat.id})}" class="ui basic  button"
                           th:classappend="${cat.id==activeCatId} ? 'teal'" th:text="${cat.name}">思考与感悟</a>
                        <div class="ui basic  left pointing label" th:classappend="${cat.id==activeCatId} ? 'teal'"
                             th:text="${cat.count}">24
                        </div>
                    </div>
                </div>
                <!--segment就是一个实线框，teal就是这个实现框的上线有颜色（为了好看）-->
                <div class="ui top attached teal segment">
                    <div class="ui padded vertical segment m-padded-tb-large blogsListAni animated" th:each="buctVO : ${buctVOS}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="sixteen wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${buctVO.blog.id})}" target="_blank"
                                                         class="m-black" th:text="${buctVO.blog.title}">你真的理解什么是财富自由吗?</a></h3>
                                <p class="m-text" th:text="|${buctVO.blog.description}......|">
                                    </p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005"
                                                     th:src="@{${buctVO.user.headerUrl}}" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header"
                                                                        th:text="${buctVO.user.username}">葛鹏</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(buctVO.blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> <span th:text="${buctVO.blog.views}">2342</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic label m-padded-mid m-text-thin"
                                           th:text="${buctVO.cat.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--footer-->
                <div class="ui bottom attached segment" th:if="${page.getTotal()}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{'/blog/cat/'+${activeCatId}(current=${page.current}-1)}"
                               th:if="${page.current}!=1" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{'/blog/cat/'+${activeCatId}(current=${page.current}+1)}"
                               th:if="${page.current!=page.getTotal()}" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one wide column">
                <th:block th:replace="blog/blog-fragments :: daohang(2)">
                </th:block>
            </div>
        </div>
    </div>
</div>

<br>
<br>


<!-- 尾部 -->
<footer class="bg-dark" th:replace="community-fragments::footer">

</footer>
</div>
<th:block th:replace="community-fragments::registerAndLoginMenu">
</th:block>
<th:block th:replace="blog/blog-fragments :: script">
</th:block>


<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>