<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.pyyf.community.dao.IDiscussPostMapper">

    <!--discuss_post的映射结果集-->
    <resultMap type="site.pyyf.community.entity.DiscussPost" id="DiscussPostMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="OTHER"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
    </resultMap>

    <!--全部字段-->
    <sql id="allColumn"> id, user_id, title, content, type, status, create_time, comment_count, score, tags </sql>

    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="userId != null">
            user_id,
        </if>
        <if test="title != null and title != ''">
            title,
        </if>
        <if test="content != null and content != ''">
            content,
        </if>
        <if test="type != null">
            type,
        </if>
        <if test="status != null">
            status,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="commentCount != null">
            comment_count,
        </if>
        <if test="score != null">
            score,
        </if>

        <if test="tags != null and tags != ''">
            tags,
        </if>
    </sql>

    <!--添加语句的值列表-->
    <sql id="insertValue">
        <if test="userId != null">
            #{userId},
        </if>
        <if test="title != null and title != ''">
            #{title},
        </if>
        <if test="content != null and content != ''">
            #{content},
        </if>
        <if test="type != null">
            #{type},
        </if>
        <if test="status != null">
            #{status},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="commentCount != null">
            #{commentCount},
        </if>
        <if test="score != null">
            #{score},
        </if>
        <if test="tags != null and tags != ''">
            #{tags},
        </if>
    </sql>

    <!--通用对DiscussPost各个属性的值的非空判断-->
    <sql id="commonsValue">
        <if test="userId != null and userId != -1">
            and user_id = #{userId}
        </if>
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="content != null and content != ''">
            and content = #{content}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="commentCount != null">
            and comment_count = #{commentCount}
        </if>
        <if test="score != null">
            and score = #{score}
        </if>
        <if test="tags != null and tags != '-1'">
            and tags regexp #{tags}
        </if>
        and status!=2
    </sql>

    <!--更新时通用对DiscussPost各个属性的值的非空判断-->
    <sql id="updateValue">
        <if test="userId != null">
            user_id = #{userId},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="content != null and content != ''">
            content = #{content},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="commentCount != null">
            comment_count = #{commentCount},
        </if>
        <if test="score != null">
            score = #{score},
        </if>
        <if test="tags != null and tags != ''">
            tags = #{tags},
        </if>
    </sql>

    <!--传入discussPost时对DiscussPost各个属性的值的非空判断-->
    <sql id="DiscussPostValue">
        <if test="discussPost.userId != null and discussPost.userId != -1">
            and user_id = #{discussPost.userId}
        </if>
        <if test="discussPost.title != null and discussPost.title != ''">
            and title = #{discussPost.title}
        </if>
        <if test="discussPost.content != null and discussPost.content != ''">
            and content = #{discussPost.content}
        </if>
        <if test="discussPost.type != null">
            and type = #{discussPost.type}
        </if>
        <if test="discussPost.createTime != null">
            and create_time = #{discussPost.createTime}
        </if>
        <if test="discussPost.commentCount != null">
            and comment_count = #{discussPost.commentCount}
        </if>
        <if test="discussPost.score != null">
            and score = #{discussPost.score}
        </if>
        <if test="discussPost.tags != null and discussPost.tags != '-1'">
            <trim prefix="and (" suffix=")" suffixOverrides="or">
                <foreach collection="discussPost.tags.split(',')" item="item" index="index">
                    tags regexp #{item} or
                </foreach>
            </trim>
        </if>
        and status !=2
    </sql>


    <!--新增discuss_post:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into discuss_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>

    <!--删除discuss_post:通过主键-->
    <delete id="deleteById">
        delete from discuss_post
        <where>
            id = #{id}
        </where>
    </delete>

    <!--查询单个discuss_post-->
    <select id="queryById" resultMap="DiscussPostMap">
        select
        <include refid="allColumn"></include>
        from discuss_post
        <where>
            id = #{id}
        </where>
    </select>

    <!--通过实体作为筛选条件查询数据-->
    <select id="queryAll" resultMap="DiscussPostMap">
        select
        <include refid="allColumn"></include>
        from discuss_post
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsValue"></include>
        </trim>
    </select>

    <!--通过实体作为筛选条件查询数量-->
    <select id="queryCount" resultType="java.lang.Integer">
        select
        count(*)
        from discuss_post
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsValue"></include>
        </trim>
    </select>

    <!--通过实体作为筛选条件分页查询-->
    <select id="queryAllByLimit" resultMap="DiscussPostMap">
        select
        <include refid="allColumn"></include>
        from discuss_post
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="DiscussPostValue"></include>
        </trim>
        <if test="orderMode==0">
            order by type desc, create_time desc
        </if>
        <if test="orderMode==1">
            order by type desc, score desc, create_time desc
        </if>
        <!-- 只按照热度排序，不按照置顶-->
        <if test="orderMode==3">
            order by score desc
        </if>
        limit #{offset}, #{limit}

    </select>

    <!--通过实体作为筛选条件分页查询-->
    <!--    <select id="queryAllByAllTagsLimit" resultMap="DiscussPostMap">-->
    <!--        select-->
    <!--        <include refid="allColumn"></include>-->
    <!--        from discuss_post-->
    <!--        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">-->
    <!--            <include refid="DiscussPostValueByAllTags"></include>-->
    <!--        </trim>-->
    <!--        <if test="orderMode==0">-->
    <!--            order by type desc, create_time desc-->
    <!--        </if>-->
    <!--        <if test="orderMode==1">-->
    <!--            order by type desc, score desc, create_time desc-->
    <!--        </if>-->
    <!--        limit #{offset}, #{limit}-->

    <!--    </select>-->


    <!--通过主键修改数据-->
    <update id="update">
        update discuss_post
        <trim prefix="set" prefixOverrides="and" suffixOverrides=",">
            <include refid="updateValue"></include>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectDiscussPosts" resultType="site.pyyf.community.entity.DiscussPost">
        select
        <include refid="allColumn"></include>
        from discuss_post
        where status != 2
        <if test="userId!=-1">
            and user_id = #{userId}
        </if>
        <if test="tag!='-1'">
            and tags regexp #{tag}
        </if>
        <if test="orderMode==0">
            order by type desc, create_time desc
        </if>
        <if test="orderMode==1">
            order by type desc, score desc, create_time desc
        </if>

        limit #{offset}, #{limit}
    </select>

    <select id="querySameCount" resultType="java.lang.Integer">
    select count(*) from discuss_post
    where
    user_id = #{userId} and
    title = #{title} and
    timestampdiff(second ,#{createTime},create_time) &lt; 100;
    </select>


    <select id="queryAllByLimitByPersonalized" resultType="site.pyyf.community.entity.DiscussPost">
        select
        <include refid="allColumn"></include>
        from discuss_post
        where status !=2
        order by
        <if test="publishedIds.size()!=0">
             (id in(
            <foreach collection="publishedIds" item="item" index="index" separator=",">
                #{item}
            </foreach>
            )) desc ,
        </if>
        <if test="likedIds.size()!=0">
            (id in (
            <foreach collection="likedIds" item="item" index="index" separator=",">
                #{item}
            </foreach>
            ) ) desc ,
        </if>

        <if test="commentIds.size()!=0">
            (id in (
            <foreach collection="commentIds" item="item" index="index" separator=",">
                #{item}
            </foreach>
            ) ) desc ,
        </if>
        <if test="tags.size()!=0">
            ((
            <foreach collection="tags" item="item" index="index" separator="or">
                tags regexp #{item}
            </foreach>
            ) &amp;&amp; timestampdiff(day ,create_time,now())&lt; #{deadline} )desc ,
        </if>
        score desc
        limit #{offset}, #{limit}
    </select>


</mapper>