<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.pyyf.community.dao.IUserMapper">

    <!--user的映射结果集-->
    <resultMap type="site.pyyf.community.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userType" column="user_type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="activationCode" column="activation_code" jdbcType="VARCHAR"/>
        <result property="headerUrl" column="header_url" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="currentSize" column="current_size" jdbcType="INTEGER"/>
        <result property="maxSize" column="max_size" jdbcType="INTEGER"/>
        <result property="registerType" column="register_type" jdbcType="INTEGER"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="rootFolder" column="root_folder" jdbcType="INTEGER"/>

    </resultMap>
    
    <!--全部字段-->
    <sql id="allColumn"> id, username, password, open_id, salt, email, user_type, status, activation_code, header_url, create_time, current_size, max_size,register_type,login_time,root_folder </sql>
    
    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="username != null and username != ''">
                username,
        </if>
        <if test="password != null and password != ''">
                password,
        </if>
        <if test="openId != null and openId != ''">
                open_id,
        </if>
        <if test="salt != null and salt != ''">
                salt,
        </if>
        <if test="email != null and email != ''">
                email,
        </if>
        <if test="userType != null">
                user_type,
        </if>
        <if test="status != null">
                status,
        </if>
        <if test="activationCode != null and activationCode != ''">
                activation_code,
        </if>
        <if test="headerUrl != null and headerUrl != ''">
                header_url,
        </if>
        <if test="createTime != null">
                create_time,
        </if>
        <if test="currentSize != null">
                current_size,
        </if>
        <if test="maxSize != null">
                max_size,
        </if>
        <if test="registerType != null">
            register_type,
        </if>
        <if test="loginTime != null">
            login_time,
        </if>
        <if test="rootFolder != null">
            root_folder,
        </if>
    </sql>
    
    <!--添加语句的值列表-->
        <sql id="insertValue">
        <if test="username != null and username != ''">
                #{username},
        </if>
        <if test="password != null and password != ''">
                #{password},
        </if>
        <if test="openId != null and openId != ''">
                #{openId},
        </if>
        <if test="salt != null and salt != ''">
                #{salt},
        </if>
        <if test="email != null and email != ''">
                #{email},
        </if>
        <if test="userType != null">
                #{userType},
        </if>
        <if test="status != null">
                #{status},
        </if>
        <if test="activationCode != null and activationCode != ''">
                #{activationCode},
        </if>
        <if test="headerUrl != null and headerUrl != ''">
                #{headerUrl},
        </if>
        <if test="createTime != null">
                #{createTime},
        </if>
        <if test="currentSize != null">
                #{currentSize},
        </if>
        <if test="maxSize != null">
                #{maxSize},
        </if>
        <if test="registerType != null">
            #{registerType},
        </if>
        <if test="loginTime != null">
            #{loginTime},
        </if>
        <if test="rootFolder != null">
            #{rootFolder},
        </if>
    </sql>
    
    <!--通用对User各个属性的值的非空判断-->
    <sql id="commonsValue">
        <if test="username != null and username != ''">
                and username = #{username}
        </if>
        <if test="password != null and password != ''">
                and password = #{password}
        </if>
        <if test="openId != null and openId != ''">
                and open_id = #{openId}
        </if>
        <if test="salt != null and salt != ''">
                and salt = #{salt}
        </if>
        <if test="email != null and email != ''">
                and email = #{email}
        </if>
        <if test="userType != null">
                and user_type = #{userType}
        </if>
        <if test="status != null">
                and status = #{status}
        </if>
        <if test="activationCode != null and activationCode != ''">
                and activation_code = #{activationCode}
        </if>
        <if test="headerUrl != null and headerUrl != ''">
                and header_url = #{headerUrl}
        </if>
        <if test="createTime != null">
                and create_time = #{createTime}
        </if>
        <if test="currentSize != null">
                and current_size = #{currentSize}
        </if>
        <if test="maxSize != null">
                and max_size = #{maxSize}
        </if>
        <if test="registerType != null">
            and register_type = #{registerType}
        </if>
        <if test="loginTime != null">
            and login_time = #{loginTime}
        </if>
        <if test="rootFolder != null">
            and root_foler = #{rootFolder}
        </if>
    </sql>
    
        <!--更新时通用对User各个属性的值的非空判断-->
    <sql id="updateValue">
        <if test="username != null and username != ''">
                username = #{username},
        </if>
        <if test="password != null and password != ''">
                password = #{password},
        </if>
        <if test="openId != null and openId != ''">
                open_id = #{openId},
        </if>
        <if test="salt != null and salt != ''">
                salt = #{salt},
        </if>
        <if test="email != null and email != ''">
                email = #{email},
        </if>
        <if test="userType != null">
                user_type = #{userType},
        </if>
        <if test="status != null">
                status = #{status},
        </if>
        <if test="activationCode != null and activationCode != ''">
                activation_code = #{activationCode},
        </if>
        <if test="headerUrl != null and headerUrl != ''">
                header_url = #{headerUrl},
        </if>
        <if test="createTime != null">
                create_time = #{createTime},
        </if>
        <if test="currentSize != null">
                current_size = #{currentSize},
        </if>
        <if test="maxSize != null">
                max_size = #{maxSize},
        </if>
        <if test="registerType != null">
                register_type = #{registerType},
        </if>
        <if test="loginTime != null">
                login_time = #{loginTime},
        </if>
        <if test="rootFolder != null">
            root_folder = #{rootFolder},
        </if>
    </sql>
    
    <!--传入user时对User各个属性的值的非空判断-->
    <sql id="UserValue">
        <if test="user.username != null and user.username != ''">
                and username = #{user.username}
        </if>
        <if test="user.password != null and user.password != ''">
                and password = #{user.password}
        </if>
        <if test="user.openId != null and user.openId != ''">
                and open_id = #{user.openId}
        </if>
        <if test="user.salt != null and user.salt != ''">
                and salt = #{user.salt}
        </if>
        <if test="user.email != null and user.email != ''">
                and email = #{user.email}
        </if>
        <if test="user.userType != null">
                and user_type = #{user.userType}
        </if>
        <if test="user.status != null">
                and status = #{user.status}
        </if>
        <if test="user.activationCode != null and user.activationCode != ''">
                and activation_code = #{user.activationCode}
        </if>
        <if test="user.headerUrl != null and user.headerUrl != ''">
                and header_url = #{user.headerUrl}
        </if>
        <if test="user.createTime != null">
                and create_time = #{user.createTime}
        </if>
        <if test="user.currentSize != null">
                and current_size = #{user.currentSize}
        </if>
        <if test="user.maxSize != null">
                and max_size = #{user.maxSize}
        </if>
        <if test="user.registerType != null">
            and register_type = #{user.registerType}
        </if>
        <if test="user.loginTime != null">
            and login_time = #{user.loginTime}
        </if>
        <if test="user.rootFolder != null">
            and root_folder = #{user.rootFolder}
        </if>
    </sql>
    
    <!--新增user:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>
   
    <!--删除user:通过主键-->
    <delete id="deleteById">
        delete from user
        <where>
            id = #{id}
        </where>
    </delete>
    
    <!--查询单个user-->
    <select id="queryById" resultMap="UserMap">
        select
        <include refid="allColumn"></include>
        from user
        <where>
            id = #{id}
        </where>
    </select>

    <!--通过实体作为筛选条件查询数据-->
    <select id="queryAll" resultMap="UserMap">
        select
          <include refid="allColumn"></include>
        from user
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsValue"></include>
        </trim>
    </select>
    
    <!--通过实体作为筛选条件查询数量-->
    <select id="queryCount" resultType="java.lang.Integer">
        select
          count(*)
        from user
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsValue"></include>
        </trim>
    </select>
    
    <!--通过实体作为筛选条件分页查询-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select
          <include refid="allColumn"></include>
        from user
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="UserValue"></include>
        </trim>
        limit #{offset}, #{limit}
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update user
        <trim prefix="set" prefixOverrides="and" suffixOverrides=",">
            <include refid="updateValue"></include>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>