<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          crossorigin="anonymous" type="text/css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/font-awesome-4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/css/fileinput.min.css"
          media="all" rel="stylesheet"
          type="text/css" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/themes/explorer-fas/theme.min.css"
          media="all"
          rel="stylesheet" type="text/css" crossorigin="anonymous"/>
    <th:block th:replace="community-fragments :: css">
    </th:block>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/community/css/share-files.css"
          crossorigin="anonymous" type="text/css"/>
    <title>鹏方论坛-共享文件库</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" style="z-index: 4!important;">
        <th:block th:replace="community-fragments::header(2)"></th:block>

    </header>

    <!-- 内容 -->
    <div class="main">

        <div class="container my-4">

            <h3>文件下载
            </h3>
            <hr>

            <div style="margin-bottom: 15px;margin-left: 26px;float: left">
                <a th:href="@{|/shareFilesSetting/back|}">
                    <button type="button" class="btn btn-success">Back</button>
                </a>
            </div>

            <div th:if="${loginUser!=null}">
                <button type="button" style="margin-left: 15px;float: left" class="btn btn-success" data-toggle="modal"
                        data-target="#mkdir">创建文件夹
                </button>
            </div>

            <div th:if="${loginUser!=null}">
                <button type="button" style="margin-left: 15px;float: left" class="btn btn-success" data-toggle="modal"
                        data-target="#modify">修改文件
                </button>
            </div>

            <div th:if="${loginUser!=null}">
                <button type="button" style="margin-left: 15px;float: left" class="btn btn-success" data-toggle="modal"
                        data-target="#delete">删除文件
                </button>
            </div>

            <div th:if="${loginUser!=null}">
                <button type="button" style="margin-left: 15px;float: left" class="btn btn-success" data-toggle="modal"
                        data-target="#clean">清理文件
                </button>
            </div>

            <div th:if="${loginUser!=null}">
                <button type="button" style="margin-left: 15px;float: left" class="btn btn-success" data-toggle="modal"
                        data-target="#uploadCloud">文件上传
                </button>
            </div>
            <div th:if="${loginUser!=null}">
                <button type="button" style="margin-left: 15px;" class="btn btn-success" data-toggle="modal"
                        data-target="#uploadOSS">OSS上传
                </button>
            </div>

            <div style="height: 20px;" th:if="${loginUser!=null}">
            </div>

            <div style="height: 53px;" th:if="${loginUser==null}">
            </div>

            <div class="files">

                <div class="outer" th:each="file:${files}"
                     style="float: left;margin-left: 0px">
                    <div class="inner" th:if="${file.absolutePath.indexOf('.')}==-1">
                        <div style="vertical-align: top">
                            <form method="get"
                                  th:action="|@{'/shareFiles/show'}|">
                                <input type="hidden" name="dirname" th:value="${file.absolutePath}">
                                <button class="inner btn btn-outline-success" type="submit"
                                        style="width:120px;height:145px;border-color:transparent;">
                                    <img src="https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/directory.png"
                                         alt="Cinque Terre">
                                    <p th:text="${file.absolutePath}" style="font-size:15px"></p>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="inner" th:if="${file.absolutePath.indexOf('.')}!=-1">
                        <form method="get"
                              th:action="|@{'/shareFiles/file/'+${file.absolutePath}}|">
                            <input type="hidden" name="fastdfs_name" th:value="${file.fastdfsName}">
                            <button class="inner btn btn-outline-success" type="submit" style="width:120px;height:145px;
border-color:transparent;">
                                <img th:src="|${file.absolutePath.indexOf('.')==-1? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/directory.png':
                        (file.absolutePath.substring(file.absolutePath.indexOf('.') + 1).equals('cpp')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/cpp.png':
                        (file.absolutePath.substring(file.absolutePath.indexOf('.') + 1).equals('java')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/java.png':
                        (file.absolutePath.substring(file.absolutePath.indexOf('.') + 1).equals('html')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/html.png':
                        (file.absolutePath.substring(file.absolutePath.indexOf('.') + 1).equals('md')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/markdown.png':
                        (file.absolutePath.substring(file.absolutePath.indexOf('.') + 1).equals('py')? 'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/python.png':
                        'https://pyyf.oss-cn-hangzhou.aliyuncs.com/community/icons/file.png')))))}|" alt="Cinque Terre">
                                <p th:text="${file.absolutePath}" style="font-size:15px"></p>
                            </button>
                        </form>
                    </div>

                </div>

            </div>

            <!-- 分页 -->
            <nav class="mt-5" th:replace="community-fragments::pagination">

            </nav>


            <!-- 弹出框 -->
            <div class="modal fade" id="uploadCloud" tabindex="-1" role="dialog"
                 aria-labelledby="uploadCloudxampleModalLabel"
                 aria-hidden="true" th:if="${loginUser!=null}">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadCloudexampleModalLabel">上传</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="width:750px;margin-left:25px">
                            <form enctype="multipart/form-data" method="post" th:action="@{/files/upload}">
                                <!--                                <input type="hidden" name="absolute_path" th:value="${absolute_path}">-->

                                <br>
                                <div class="file-loading">
                                    <input id="file-0a" class="file" type="file" data-theme="fas" name="file">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 弹出框 -->
            <div class="modal fade" id="uploadOSS" tabindex="-1" role="dialog"
                 aria-labelledby="uploadOSSxampleModalLabel"
                 aria-hidden="true" th:if="${loginUser!=null}">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadOSSexampleModalLabel">上传</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="width:750px;margin-left:25px">
                            <!--                            method="post" th:action="@{/OSS/upload}"   -->
                            <form enctype="multipart/form-data" id="uploadForm">
                                <!--                <div class="file-loading">-->
                                <!--                    <input id="kv-explorer" type="file" multiple>-->
                                <!--                </div>-->
                                <br>
                                <div class="file-loading">
                                    <input id="file-1a" class="file" type="file" data-theme="fas" name="file">
                                </div>
                                <br>
                                <!--                                <button type="submit" class="btn btn-success">Submit</button>-->
                                <button type="button" onclick="doUpload()" class="btn btn-success">Submit</button>

                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 提示框 -->
            <div class="modal fade" id="uploadOSShintModal" tabindex="-1" role="dialog"
                 aria-labelledby="uploadOSShintModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadOSShintModalLabel">提示</h5>
                        </div>
                        <div class="modal-body" id="uploadOSShintBody">
                            删除完毕!
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div th:if="${loginUser!=null}">-->
            <!--                <h3>文件上传-->
            <!--                </h3>-->
            <!--                <hr>-->
            <!--                <form enctype="multipart/form-data" method="post" th:action="@{/files/upload}">-->
            <!--                    <input type="hidden" name="absolute_path" th:value="${absolute_path}">-->
            <!--                    &lt;!&ndash;                <div class="file-loading">&ndash;&gt;-->
            <!--                    &lt;!&ndash;                    <input id="kv-explorer" type="file" multiple>&ndash;&gt;-->
            <!--                    &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--                    <br>-->
            <!--                    <div class="file-loading">-->
            <!--                        <input id="file-0a" class="file" type="file" data-theme="fas" name="file">-->
            <!--                    </div>-->
            <!--                    <br>-->
            <!--                    <button type="submit" class="btn btn-success">Submit</button>-->
            <!--                    <button type="reset" class="btn btn-outline-secondary">Reset</button>-->
            <!--                </form>-->
            <!--                <hr>-->
            <!--            </div>-->

        </div>


        <!-- 弹出框 -->
        <div class="modal fade" id="mkdir" tabindex="-1" role="dialog" aria-labelledby="mkdirexampleModalLabel"
             aria-hidden="true" th:if="${loginUser!=null}">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mkdirexampleModalLabel">创建文件夹</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="get" th:action="@{/shareFilesSetting/mkdir}">
                        <!--                        <input type="hidden" name="absolute_path" th:value="${absolute_path}">-->
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="mkdirrecipient-name" class="col-form-label">文件夹名字</label>
                                <input type="text" class="form-control" id="mkdirrecipient-name" name="dirname">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success" id="mkdirBtn">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 提示框 -->
        <div class="modal fade" id="mkdirhintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mkdirhintModalLabel">提示</h5>
                    </div>
                    <div class="modal-body" id="mkdirhintBody">
                        创建完毕!
                    </div>
                </div>
            </div>
        </div>


        <!-- 弹出框 -->
        <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyexampleModalLabel"
             aria-hidden="true" th:if="${loginUser!=null}">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modifyexampleModalLabel">修改文件夹</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="get" th:action="@{/shareFilesSetting/modify}">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="modifyOriginalrecipient-name" class="col-form-label">原文件夹</label>
                                <input type="text" class="form-control" id="modifyOriginalrecipient-name"
                                       name="oldFileName">
                                <label for="modifiedrecipient-name" class="col-form-label">修改为</label>
                                <input type="text" class="form-control" id="modifiedrecipient-name"
                                       name="newFileName">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success" id="modifyBtn">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 提示框 -->
        <div class="modal fade" id="modifyhintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modifyhintModalLabel">提示</h5>
                    </div>
                    <div class="modal-body" id="modifyhintBody">
                        修改完毕!
                    </div>
                </div>
            </div>
        </div>


        <!-- 弹出框 -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteexampleModalLabel"
             aria-hidden="true" th:if="${loginUser!=null}">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteexampleModalLabel">删除文件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="get" th:action="@{/shareFilesSetting/delete}">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="deleterecipient-name" class="col-form-label">要删除的文件夹名字</label>
                                <input type="text" class="form-control" id="deleterecipient-name" name="fileName">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success" id="deleteBtn">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 提示框 -->
        <div class="modal fade" id="deletehintModal" tabindex="-1" role="dialog" aria-labelledby="deletehintModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletehintModalLabel">提示</h5>
                    </div>
                    <div class="modal-body" id="deletehintBody">
                        删除完毕!
                    </div>
                </div>
            </div>
        </div>


        <!-- 弹出框 -->
        <div class="modal fade" id="clean" tabindex="-1" role="dialog" aria-labelledby="cleanexampleModalLabel"
             aria-hidden="true" th:if="${loginUser!=null}">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cleanexampleModalLabel">清理删除的文件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="get" th:action="@{/shareFilesSetting/clean}">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success" id="cleanBtn">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 提示框 -->
        <div class="modal fade" id="cleanhintModal" tabindex="-1" role="dialog" aria-labelledby="cleanhintModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cleanhintModalLabel">提示</h5>
                    </div>
                    <div class="modal-body" id="cleanhintBody">
                        删除完毕!
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- 尾部 -->
    <footer class="bg-dark" th:replace="community-fragments::footer">

    </footer>
</div>
<th:block th:replace="community-fragments::registerAndLoginMenu">
</th:block>
<div th:replace="community-fragments :: script">

</div>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/js/plugins/piexif.min.js"
        crossorigin="anonymous"
        type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/js/plugins/sortable.min.js"
        crossorigin="anonymous"
        type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/js/fileinput.min.js"
        crossorigin="anonymous"
        type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/js/locales/fr.js"
        crossorigin="anonymous"
        type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/js/locales/es.js"
        crossorigin="anonymous"
        type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/themes/fas/theme.js"
        crossorigin="anonymous"
        type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/Gepeng18/communityCDN@v0.1.3/lib/bootstrap-fileinput-5.0.8/themes/explorer-fas/theme.min.js"
        crossorigin="anonymous" type="text/javascript"></script>

<script>

    function doUpload() {
        var formData = new FormData($("#uploadForm")[0]);
        $.ajax({
            url: '/OSS/upload',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                // 在提示框中显示返回消息
                var data = JSON.parse(result);
                console.log(data.msg);
                $("#uploadOSS").modal("hide");
                $("#uploadOSShintBody").text(data.msg);
                // 显示提示框
                $("#uploadOSShintModal").modal("show");
                // 2秒后,自动隐藏提示框
                setTimeout(function () {
                    $("#uploadOSShintModal").modal("hide");
                    // 刷新页面
                    if (data.code == 0) {
                        window.location.reload();
                    }
                }, 6000);
            },
            error: function (result) {
                console.log("错误");
                var res = $.parseJSON(result);  //用jQuery处理传过来的json值
                console.log("处理结果" + res);
                alert(returndata);
            }
        });
    }


</script>
</body>
</html>
