<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.pyyf.community.dao.FastdfsMapper">

    <sql id="selectFields">
        id, absolute_path,fastdfs_name,valid
    </sql>

    <sql id="insertFields">
        absolute_path,fastdfs_name,valid
    </sql>

    <update id="updateFilesValid">
        update file_system set valid = 0
        where absolute_path like #{absolute_path}"%"
    </update>

    <delete id="deletedRows">
        delete from file_system where valid=0

    </delete>

    <select id="selectByFilesName" resultType="site.pyyf.community.entity.File">
        select
        <include refid="selectFields"></include>
        from file_system
        where absolute_path like #{absolute_path}"%"
    </select>

    <select id="selectFiles" resultType="site.pyyf.community.entity.File">
        select
        <include refid="selectFields"></include>
        from file_system
        where valid = 1
    </select>

    <select id="selectDeletedFiles" resultType="site.pyyf.community.entity.File">
        select
        <include refid="selectFields"></include>
        from file_system
        where valid = 0
    </select>


    <insert id="insertFile">
        insert into file_system(<include refid="insertFields"></include>)
        values(#{absolute_path},#{fastdfs_name},1)
    </insert>


</mapper>