<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.pyyf.forum.dao.IFeedMapper">

    <!--feed的映射结果集-->
    <resultMap type="site.pyyf.forum.entity.Feed" id="FeedMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="feedType" column="feed_type" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="entityType" column="entity_type" jdbcType="INTEGER"/>
        <result property="entityId" column="entity_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--全部字段-->
    <sql id="allColumn"> id, feed_type, create_time, user_id, user_name, entity_type, entity_id </sql>

    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="feedType != null">
            feed_type,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="userId != null">
            user_id,
        </if>
        <if test="userName != null and userName != ''">
            user_name,
        </if>
        <if test="entityType != null">
            entity_type,
        </if>
        <if test="entityId != null">
            entity_id,
        </if>
    </sql>

    <!--添加语句的值列表-->
    <sql id="insertValue">
        <if test="feedType != null">
            #{feedType},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="userId != null">
            #{userId},
        </if>
        <if test="userName != null and userName != ''">
            #{userName},
        </if>
        <if test="entityType != null">
            #{entityType},
        </if>
        <if test="entityId != null">
            #{entityId},
        </if>
    </sql>

    <!--通用对Feed各个属性的值的非空判断-->
    <sql id="commonsValue">
        <if test="feedType != null">
            and feed_type = #{feedType}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and user_name = #{userName}
        </if>
        <if test="entityType != null">
            and entity_type = #{entityType}
        </if>
        <if test="entityId != null">
            and entity_id = #{entityId}
        </if>
    </sql>

    <!--更新时通用对Feed各个属性的值的非空判断-->
    <sql id="updateValue">
        <if test="feedType != null">
            feed_type = #{feedType},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="userId != null">
            user_id = #{userId},
        </if>
        <if test="userName != null and userName != ''">
            user_name = #{userName},
        </if>
        <if test="entityType != null">
            entity_type = #{entityType},
        </if>
        <if test="entityId != null">
            entity_id = #{entityId},
        </if>
    </sql>

    <!--传入feed时对Feed各个属性的值的非空判断-->
    <sql id="FeedValue">
        <if test="feed.feedType != null">
            and feed_type = #{feed.feedType}
        </if>
        <if test="feed.createTime != null">
            and create_time = #{feed.createTime}
        </if>
        <if test="feed.userId != null">
            and user_id = #{feed.userId}
        </if>
        <if test="feed.userName != null and feed.userName != ''">
            and user_name = #{feed.userName}
        </if>
        <if test="feed.entityType != null">
            and entity_type = #{feed.entityType}
        </if>
        <if test="feed.entityId != null">
            and entity_id = #{feed.entityId}
        </if>
    </sql>

    <!--新增feed:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into feed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>

    <!--删除feed:通过主键-->
    <delete id="deleteById">
        delete from feed
        <where>
            id = #{id}
        </where>
    </delete>

    <!--查询单个feed-->
    <select id="queryById" resultMap="FeedMap">
        select
        <include refid="allColumn"></include>
        from feed
        <where>
            id = #{id}
        </where>
    </select>

    <!--通过实体作为筛选条件查询数据-->
    <select id="queryAll" resultMap="FeedMap">
        select
        <include refid="allColumn"></include>
        from feed
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsValue"></include>
        </trim>
    </select>

    <!--通过实体作为筛选条件查询数量-->
    <select id="queryCount" resultType="java.lang.Integer">
        select
        count(*)
        from feed
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsValue"></include>
        </trim>
    </select>

    <!--通过实体作为筛选条件分页查询-->
    <select id="querySomeByLimit" resultMap="FeedMap">
        select
        <include refid="allColumn"></include>
        from feed
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="FeedValue"></include>
        </trim>
        limit #{offset}, #{limit}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="FeedMap">
        select
        <include refid="allColumn"></include>
        from feed
        limit #{offset}, #{limit}
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update feed
        <trim prefix="set" prefixOverrides="and" suffixOverrides=",">
            <include refid="updateValue"></include>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectUserFeeds" resultType="site.pyyf.forum.entity.Feed">
        SELECT
        <include refid="allColumn"/>
        FROM
        feed
        where  entity_type = ${entityType}
        <if test="userIds.size() != 0">
            and user_id in
            <foreach item="item" index="index" collection="userIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY create_time DESC
        LIMIT #{count}
    </select>
</mapper>
