<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="community-fragments :: css">
    </th:block>
    <title>分类新增</title>
</head>
<body>

<header class="bg-dark sticky-top" style="z-index: 4!important;">
        <th:block th:replace="community-fragments::header(4)"></th:block>
</header>


<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blog/cat}" class="active item">新增</a>
            <a href="#" th:href="@{/admin/blog/cats}" class="teal  item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="ui container">
    <div class="ui stackable grid">
        <div class="fifteen wide column">

            <div class="m-container-small m-padded-tb-big">

                <!--th:object从后台拿到type对象，
                    th:value="*{id}就是从type中拿id，*就是从对象中取值，
                    th:value="*{name}就是从type中取name-->
                <form action="#" method="post" th:action="@{/admin/blog/cat}" class="ui form">

                    <!--hidden表示隐藏，id表示传到后端，作为type对象的一部分，而在前端显示值为type中的id-->
                    <input type="hidden" name="id" th:value="${cat!=null}?*{cat.id}">

                    <!--required不输就提交会有红色演示-->
                    <div class="required field" style="float:left">
                        <!--组合按钮，既有label,又有input,形成一个整体-->
                        <!--selection dropdown 下拉选择-->
                        <div class="ui left labeled input">
                            <!--compact:label的大小适应文本-->
                            <div class="ui selection compact teal basic dropdown label">
                                <input type="hidden" value="1" name="entityType"
                                       th:value="${cat!=null}?*{cat.entityType}">
                                <i class="dropdown icon"></i>
                                <div class="text">论坛</div>
                                <div class="menu">
                                    <div class="item" data-value="1">论坛</div>
                                    <div class="item" data-value="4">博客</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui left labeled input" style="margin-left: 10px">
                        <label class="ui teal basic label">名称</label>
                        <input type="text" name="name" placeholder="分类名称" th:value="${cat!=null}?*{cat.name}"
                               style="width: 800px">
                    </div>

                    <div class="ui error message"></div>
                    <!--fields.hasErrors('name')判断从后台传来的name属性是否有错（我不知道）-->
                    <div class="ui negative message" th:if="${error!=null}">
                        <i class="close icon"></i>
                        <div class="header">验证失败</div>
                        <p th:errors="${error}">提交信息不符合规则</p>
                    </div>
                    <div class="ui right aligned container" style="margin-top:20px">
                        <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                        <button class="ui teal submit button">提交</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="one wide column">
            <th:block th:replace="blog/blog-fragments :: daohang(4)">
            </th:block>
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- 尾部 -->
<footer class="bg-dark" th:replace="community-fragments::footer">

</footer>
<th:block th:replace="community-fragments::registerAndLoginMenu">
</th:block>

<th:block th:replace="blog/blog-fragments :: script">
</th:block>


<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '请输入分类名称'
                }]
            }
        }
    });

</script>
</body>
</html>